<!DOCTYPE html>
<html>
    <head>
        <title>Alcestis</title>
        <link rel="stylesheet" type="text/css" href="/static/alcestisp1.css">
    </head>
    <body>
        <h1>The Story of Alcestis</h1>
        <h4><p>{{ Alcestis }}</p>
        <p>{{ aLcestis }}</p>
        <p>{{ alCestis }}</p>
        <p>{{ alcEstis }}</p>
        <p>{{ alceStis }}</p>
        <p>{{ alcesTis }}</p>
        <p>{{ alcestIs }}</p>
        <p>{{ alcestiS }}</p>
        <p>{{ alcestis1 }}</p>
        </h4>
        <form method = "post" action = "/alcestis">
            <input type="submit" value="Title Page"/>
        </form>
        <a href="/index">
        <button>
            Home Page
        </button>
        </a>
    </body>
</html>