<!DOCTYPE html>
<html>
    <head>
        <title>Otus and Ephialtes</title>
        <link rel="stylesheet" type="text/css" href="/static/aloadaep1.css">
    </head>
    <body>
        <h1>Otus and Ephialtes</h1>
        <h4><p>{{ aloade }}</p>
        <p>{{ aloa }} </p>
        <p>{{ aloadae }}</p>
        <p>{{ ephialtes }}</p>
        <p>{{ ephy }}</p>
        <p>{{ otis }}</p>
        </h4>
        <a href="/index">
        <button>
            Home Page
        </button>
        </a>
        <form method = "post" action = "/aloadae">
            <input type="submit" value="Title Page"/>
        </form>
    </body>
</html>
