<!DOCTYPE html>
<html>
    <head>
        <title>Free Online Books</title>
    </head>
    <body>
        <h1>Find your book here:</h1>
        <form method = "post" action = "/littlewomen">
            <input type="submit" value="Little Women"/>
        </form>
        <form method = "post" action = "/matchgirl">
            <input type="submit" value="The Little Matchgirl"/>
        </form>
        <form method = "post" action = "/aloadae">
            <input type="submit" value="Otus and Ephialtes"/>
        </form>
        <form method = "post" action = "/littlemermaid">
            <input type="submit" value="The Little Mermaid"/>
        </form>
    </body>
</html>