<!DOCTYPE html>
<html>
    <head>
        <title>Free Online Books</title>
        <link rel="stylesheet" type="text/css" href="/static/indexstyle.css">
    </head>
    <body>
        <h1>Find your book here:</h1>
        <form class="indexForms" method = "post" action = "/littlewomen">
            <input id="buttonOne" type="submit" value="Little Women"/>
        </form>
        <form class="indexForms" method = "post" action = "/matchgirl">
            <input type="submit" value="The Little Matchgirl"/>
        </form>
        <form class="indexForms" method = "post" action = "/aloadae">
            <input type="submit" value="Otus and Ephialtes"/>
        </form>
        <form class="indexForms" method = "post" action = "/littlemermaid">
            <input type="submit" value="The Little Mermaid"/>
        </form>
        <form class="indexForms" method = "post" action = "/alcestis">
            <input type="submit" value="The Story of Alcestis"/>
        </form>
    </body>
</html>