<!DOCTYPE html>
<html>
    <head>
        <title>The Little Mermaid</title>
    </head>
    <body>
        <h1>The Little Mermaid by Hans Christian Anderson</h1>
        <h2>Page Two</h2>
        <h4><p>{{ meRmaid }}</p>
        <p>{{ merMan }}</p>
        <p>{{ fIsh }}</p>
        <p>{{ lMerman }}</p>
        <p>{{ lfish }}</p>
        <p>{{ meraid }}</p>
        <p>{{ mrmaid }}</p>
        <p>{{ bigFish }}</p>
        <p>{{ lFish }}</p>
        <p>{{ ariel }}</p>
        <p>{{ sea_folk }}</p>
        <p>{{ seafolk }}</p>
        </h4>
        <form method = "post" action = "/littlemermaid3">
            <input type="submit" value="Next"/>
        </form>
        <form method = "post" action = "/littlemermaidpage1">
            <input type="submit" value="Previous"/>
        </form>
    </body>
</html>