<!DOCTYPE html>
<html>
    <head>
        <title>Little Women</title>
        <link rel="stylesheet" type="text/css" href="/static/lwomen.css">
    </head>
    <body>
        <h1>Little Women by Louisa May Alcott</h1>
        <h4>This one isn't finished yet, but feel free to read the beginning!</h4>
        <img src="https://i.pinimg.com/originals/6c/00/71/6c0071473d0ec813cb8f7e8287324ed7.jpg" width="400" height="433">
        <form method= "post" action= "/littlewomenpage1">
            <input type="submit" value="Page 1"/>
        </form>
        <a href="/index">
        <button>
            Home Page
        </button>
        </a>
    </body>
</html>
