<!DOCTYPE html>
<html>
    <head>
        <title>The Little Mermaid</title>
        <link rel="stylesheet" type="text/css" href="/static/mermaidc.css">
    </head>
    <body>
        <h1>The Little Mermaid by Hans Christian Anderson</h1>
        <h2>Contents Page</h2>
        <form method = "post" action = "/littlemermaidpage1">
            <input type="submit" value="Page 1"/>
        </form>
        <form method = "post" action = "/littlemermaid2">
            <input type="submit" value="Page 2"/>
        </form>
        <form method = "post" action = "/littlemermaid3">
            <input type="submit" value="Page 3"/>
        </form>
        <form method = "post" action = "/littlemermaid4">
            <input type="submit" value="Page 4"/>
        </form>
        <a href="/index">
        <button>
            Home Page
        </button>
        </a>
        <form method = "post" action = "/littlemermaid">
            <input type="submit" value="Title Page"/>
        </form>
    </body>
</html>