<!DOCTYPE html>
<html>
    <head>
        <title>The Little Match Girl</title>
        <link rel="stylesheet" type="text/css" href="/static/matchgirlp1.css">
    </head>
    <body>
        <h1>The Little Match Girl by Hans Christian Anderson</h1>
        <h4>
        <p>{{ matchgirl }}</p>
        <p>{{ mAtchgirl }}</p>
        <p>{{ maTchgirl }}</p>
        <p>{{ matChgirl }}</p>
        <p>{{ matcHgirl }}</p>
        <p>{{ matchGirl }}</p>
        <p>{{ matchgIrl }}</p>
        <p>{{ matchgiRl }}</p>
        </h4>
        <a href="/index">
        <button>
            Home Page
        </button>
        </a>
        <form method = "post" action = "/matchgirl">
            <input type="submit" value="Title Page"/>
        </form>
    </body>
</html>